:root{
    --primary: #ff3700;
}

.gamebanner{
    background-image: url('../../img/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100vh;
}

.hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.movie-title{
    max-width: 250px;
}

.banner .content h4{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 30px;
}

.banner .content h4 span{
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child{
    padding-left: 0;
}

.banner .content h4 span:last-child{
    border-right: none;
}

.banner .content h4 span i{
    background: var(--primary);
    color: #fff;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}

.banner .content p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #fff;
    margin: 10px 0 20px;
}

.banner .content .button{
    position: relative;
}

.banner .content .button a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--primary);
    border-radius: 20px;
    color: #fff;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}

.banner .content .button a:nth-child(2){
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.banner .content .button a:hover:nth-child(2){
    background: var(--primary);
}